<div class="container">
    <form class="form-horizontal" ng-submit="submit()" ng-controller="LoginCtrl">
        <div class="col-xs-12 form-group">
            <label for="username" class="control-label">Username: </label>
            <input id="username" class="form-control" type="text" required="required" ng-required="true" ng-model="username">
        </div>

        <div class="col-xs-12 form-group">
            <label for="password" class="control-label">Password: </label>
            <input id="password" class="form-control" type="password" required="required" ng-required="true" ng-model="password">
        </div>

        <div class="col-xs-12 form-group">
            <div class="col-xs-6 text-center">
                <input type="reset" class="btn btn-default" name="clear" value="Clean fields">
            </div>
            <div class="col-xs-6 text-center">
                <input type="submit" class="btn btn-success" name="submit" value="Log In">
            </div>
        </div>
    </form>

    <div ng-hide="$scope.isLogged == null">
        <div class="alert alert-info" ng-hide="$scope.isLogged">
            You are logged in!
        </div>

        <div class="alert alert-danger" ng-hide="!$scope.isLogged">
            You are not logged in!
        </div>
    </div>
</div>